<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Spring Sandbox</title>
</head>
<body>
    <form method="POST" action="/login">
        <input type='text' id='username' name='username'/>
        <input type='text' id='password' name='password'/>

        <input type='submit' name='submit' value='Логин'/>
    </form>
</body>
</html>